*{
  box-sizing: border-box;
}

html{
  background:green;
}

.racing1{
  width:200px;
  height:100px;
  position:fixed;
  transform:rotate(-90deg);
}

.racing1-2{
  bottom:10%;
  left:2%;
}

.racing2{
  width:200px;
  height:100px;
  position:fixed;
  bottom:10%;
  right:2%;
  transform:rotate(-90deg);
}

.race{
  position:fixed;
  top:50px;
  left:calc(50% - 75px);
  width:150px;
  height:50px;
  background:tan;
  font-size:2rem;
  cursor:crosshair;
}

.caranim2{
  animation: caranim2 3s linear forwards;
}

@keyframes caranim2{
  100%{bottom:60%}
}

.comp1{
  width:100px;
  height:50px;
  color:white;
  background:black;
  position:fixed;
  bottom:1%;
  right:1%;
  text-align: center;
  opacity:.5;
}

.player1{
  width:100px;
  height:50px;
  color:white;
  background:black;
  position:fixed;
  bottom:1%;
  left:1%;
  text-align: center;
  opacity:.5;
}

.results{
  position:fixed;
  top:125px;
  left:calc(50% - 125px);
  width:250px;
  height:50px;
  background:gray;
  border: 2px yellow dotted;
  font-size:1.5rem;
  opacity:.8;
  text-align: center;
}

.hidden{
  display:none;
}

.chooseyourcar{
  text-align: center;

}

.submitbutton{
  width:300px;
  height:50px;
  background:gray;
  color:gold;
  outline:none;
  cursor:cell;
  font-size:1rem;
  margin-top:25px;
}

.text1{
  font-size: 2rem;
}

.text2{
  font-size: 2rem;
}

.text3{
  font-size: 2rem;

}

.radiobutton{
  margin-left:25px;
  margin-right:5px;
}

.radiobutton2{
  margin-left:25px;
  margin-right:5px;

}

.colororange{
  background-image: url("../images/orangecar.png");
  background-size:cover;
  background-position: center;
}

.coloraqua{
  background-image: url("../images/aquacar.png");
  background-size:cover;
  background-position: center;
}

.colorblue{
  background-image: url("../images/bluecar.png");
  background-size:cover;
  background-position: center;
}
.colorpurple{
  background-image: url("../images/purplecar.png");
  background-size:cover;
  background-position: center;
}

.colorred{
  background-image: url("../images/redcar.png");
  background-size:cover;
  background-position: center;
}

.colorwhite{
  background-image: url("../images/whitecar.png");
  background-size:cover;
  background-position: center;
}

.raceline{
  width:100%;
  height:2px;
  border: 2px yellow dashed;
  position:fixed;
  bottom:calc(72% + 50px);
}

.racingcaranimation{

}

.rca1{
  width:300px;
  height:200px;
  position:fixed;
  top: 100px;
  left:calc(50% - 150px);
  background:transparent;
  border: 2px black dashed;
}

.rca1-1{
  position:fixed;
  top:100px;
  left:calc(50% - 150px);
  width:100px;
  height:200px;
  background:red;
  opacity:.6;
}

.rca1-2{
  position:fixed;
  top:100px;
  left:calc(50% - 50px);
  width:100px;
  height:200px;
  background:blue;
  opacity:.6;

}

.rca1-3{
  position:fixed;
  top:100px;
  left:calc(50% + 50px);
  width:100px;
  height:200px;
  background:yellow;
  opacity:.6;
}

.rca1-4{
  position:fixed;
  top:225px;
  left:calc(50% - 50px);
  width:100px;
  height:3px;
  border: 3px black dashed;
}

.rca1-5{
  position:fixed;
  top:100px;
  left:calc(50% - 150px);
}

.rca1-6{
  position:fixed;
  top:100px;
  left:calc(50% - 150px);
}

.rca2{

}

.rca3{
  width:200px;
  height:100px;
  background-image: url("../images/orangecar.png");
  background-size:cover;
  background-position: center;
  position:fixed;
  transform:rotate(-75deg) rotateY(60deg);
  bottom:10%;
  left:2%;
  animation: rca-1 5s ease-out forwards;
}

.rca4{
  width:200px;
  height:100px;
  background-image: url("../images/whitecar.png");
  background-size:cover;
  background-position: center;
  position:fixed;
  transform:rotate(-105deg) rotateY(60deg);
  bottom:10%;
  right:2%;
  animation: rca-1 5s ease-out forwards;
  animation-delay: 2s;
}

@keyframes rca-1{
  25%{

    width:180px ;
    height:80px ;
    animation-timing-function: ease-in-out;

  }
  50%{

    width:160px ;
    height: 60px;
    animation-timing-function: ease-in-out;

  }
  75%{

    width:120px ;
    height: 40px;
    animation-timing-function: ease-in-out;

  }
  100%{
    top:250px;;
    left:calc(50% - 150px);
    width: 80px;
    height: 20px;
    animation-timing-function: ease-in-out;

  }
}

@keyframes rca-2{
  25%{
    bottom:10%;
    right:2%;
    width: ;
    height: ;

  }
  50%{
    bottom:10%;
    right:2%;
    width: ;
    height: ;

  }
  75%{
    bottom:10%;
    right:2%;
    width: ;
    height: ;

  }
  100%{
    bottom:10%;
    right:2%;
    width: ;
    height: ;

  }
}
